[2020-07-31 19:20] mattrei opened #1 "Possible way to handle seams between tiles"
You have published a really neat library where the results look very promising.

However I have just a remark, that the seams between the tiles are quite strong. There should be some interpolation be made between the tiles so that everything is much more fluid.
Like this recently developed library named [map33.js](https://github.com/blaze33/map33.js) does it within its own shader material ([see co

[2020-08-01 11:00] tentone commented on #1
Hello

Thanks a lot. That library seems to do a good job handling those seams but all tiles there have the same resolution.

I have already implemented a solution to handle the interpolation between tiles i still need to figure out a fast way to constantly recompute neighbors for every tile after subdivision to readjust the seam interpolation after subdivision.

One of the problems with the seams

[2020-08-03 09:09] mattrei commented on #1
hi,
ok, you are the expert! Thx for the explanation. Cessium.js does a fine job here, however there is also a huge team working behind...

Concerning the GPU picking method, its a huge performance booster and is normally integrated with ease, see [my terrain library for A-Frame here](https://github.com/mattrei/aframe-tangram-terrain-component) .

Looking forward to your solution.

[2020-09-09 09:47] arthurmougin opened #2 "question : custom provider ?"
Hello, i am looking to use a french map provider for national data [(IGN)](https://geoservices.ign.fr/documentation/).
Can i and How can i use geo-three with that provider?

[2020-09-09 09:51] tentone commented on #2
Hello

You have a complete example in the readme of the project of how to implement the Provider interface.

For example for a open street maps serve would be something like:

[code]

For the provider you have just sent its just a matter of replacing the openstreet maps API URL with the API URL. You have of course to fill the URL parameter accordingly.

`https://wxs.ign.fr/jhyvi0fgmnuxvfv0zjzorvdn

[2020-09-09 09:54] arthurmougin commented on #2
Thank you for your quick answer, helped a lot!

[2020-09-09 09:54] #2 closed

[2021-04-28 08:36] farfromrefug opened #3 "wont run"
I would like to test your project but the example wont run.
Neither on your website nor when locally cloned.
[code]

[2021-04-28 11:11] tentone commented on #3
Hello

Thanks a lot for reporting this issue, it is caused by changed in three.js library.

I will update the library code to be compliant with recent version of three.js

Cheers

[2021-04-28 13:14] farfromrefug opened #4 "few questions"
I got your lib to run in my very specific mobile env and first thank you for that!
Your GPU height shader is pretty awesome!

Now the aim of my project is to get something like [PeakFinder](https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Flh3.googleusercontent.com%2FFkKyUyvF63lheVD61jS41DqYpSAHt1_AMu45j52qgvWza8VQYh-E8RodFrW8sXJFbsc3%3Dh900&f=1&nofb=1).
i already have the Three JS post

[2021-04-28 13:18] tentone commented on #3
A  new version 0.0.7 is now available that should be working correctly

[2021-04-28 13:27] tentone commented on #4
Hello

The TileProvider is just used to acess tiles by their coordinates it should be fairly simple create a tiler provider that does not return anything (to save on processing).

The LOD Control is responsible for deciding when to subdivide or simplify the tiles, im currently working on a system based on CancelablePromises to solve the problem that you are facing where you need to wait for interm

[2021-04-28 13:46] farfromrefug commented on #4
@tentone thank you :D are you in the three discord? maybe we could chat a bit more there.
Would love to help you on that lib. Could really help me get the end result of my oss project

[2021-04-28 17:25] tentone commented on #4
No, but feel free to ask for help anytime here on github.

Cheers

[2021-04-28 17:32] farfromrefug commented on #4
@tentone thanks so i ll ask :P
1/ I have looked at how to not using a "texture" on the 3d terrain but it was possible as is. The idea was to override the MapNode to not `fetchTile` in `loadTexture` and directly set `textureLoaded` and call `nodeReady`

2/ i am trying to compute the normals in the vertex shader of `MapHeightNodeShader`. The idea is to render `MapHeightNodeShader` like `MeshNormalMa

[2021-04-29 10:27] farfromrefug commented on #4
@tentone got most of what i need running. Still need to fix the normals are they are wrong on the "ground"
<img width="300" alt="Screenshot 2021-04-29 at 12 25 07" src="https://user-images.githubusercontent.com/655344/116537127-1993e780-a8e6-11eb-9ffc-683ebe132005.png">

Now i had to make some changes to your lib to make it work (to allow more customisation).
Are you ok with me creating PR with th

[2021-04-29 12:46] tentone commented on #4
Yes please go ahead open a PR with your solution for custom map nodes.

I was starting to work on something too allow external implementation of MapNodes but probablt you already have something that can be used.

[2021-04-29 14:21] farfromrefug commented on #4
@tentone ok will do. One question. is there any point where the childrenCache would be removed? If i look correctly at the code it wont. Wouldn't kill memory at one point?
Would be nice to have a way to "destroy" meshes if they are far away

[2021-04-29 15:44] farfromrefug commented on #1
@tentone there might be a quick way to solve this at least temporary. The idea is to add a skirt https://github.com/visgl/loaders.gl/issues/712
I think it could be fairly easy to add in `MapNodeGeometry`. Those skim points would simply need to have a normal of `0,0,0` or any factor to define the height for the skirt.
I tried to to do it but i could not have the points in the right order :s Maybe y

[2021-05-02 10:41] tentone commented on #1
@farfromrefug

It could be a solution to use skirts, i have been trying to avoid implementing them but seems to be the fast solution for the problem.

I will try to take a lookt at it.

[2021-05-02 10:41] #3 closed

[2021-05-02 10:43] tentone commented on #4
@farfromrefug

The childcache has no mechanism for removing them currently. I want to introduce a mechanism for this eventually.

Your code seems quite nice 👍  Feel free to open PR maybe can be used as an example of custom nodes.

I will finish today the new mechanism for custom nodes and provide a simple example

[2021-05-07 15:21] farfromrefug commented on #4
@tentone i made a lot of progress in my demo here https://farfromrefug.github.io/geo-three/examples/index.html. got almost everything working.
Now i made quite a lot of changes that you can see here https://github.com/farfromrefug/geo-three/commits/master (tried to separate everything in understandable commits):
* i work mostly with the lod frustum
* the frustum dont rely on the provider max zoom

[2021-05-09 11:37] farfromrefug opened #10 "typescript"
Would you be open to migrating the lib to typescript?
I am on my way to do it in my fork but want to ask you first. Cause merging will get very hard if one is in JS and the other in TS

[2021-05-10 07:04] tentone commented on #10
Hello

Yes, I im planning to move this lib to TS. If you want to open a PR intiializing that convertion go ahead please.

Thanks a lot for your help.

[2021-05-19 07:55] tentone commented on #10
@farfromrefug

I have merged the typescript version to the master branch please take a look and see if it fits your needs.

Thanks a lot for the help!

[2021-05-19 07:55] #10 closed

[2021-05-19 09:11] tentone commented on #4
It would be cool if you could share those examples, they seem quite nice we can add an example page to the library.

Thanks a lot once again!

[2021-05-19 09:46] farfromrefug commented on #4
@tentone when you say examples you mean the classes for LOD and and Nodes? or the example app using all that?

[2021-05-19 11:00] tentone commented on #4
Just the classes should be enough, i think we can add some running examples based on these.

Should be of help to other people trying to achieve similar goal ;)

[2021-06-11 18:08] xawill opened #16 "3D terrain not woking with safari in macos"
Hi, and thank you for this library which looks awesome!

I am just not sure from the readme whether the library supports the generation of a 3D terrain. Because from what I read, it is possible to provide a height map tileset, but I haven't been able to reproduce any 3D terrain in the demo. It is always a planar map.

Did I miss something ?

I am looking for something similar to [Map33](https://gi

[2021-06-12 08:56] tentone commented on #16
Hello

The library supports 3D terrain tiles it is the main focus in this library.

You can open the example of the library and switch between modes and tile providers to experiment the multiple configurations.

Thanks a lot!

[2021-06-14 10:02] xawill commented on #16
Thank you for your reply.

I think the issue is with the demo at [https://tentone.github.io/geo-three](https://tentone.github.io/geo-three). Try to load the page and check the console. A lot of "Failed to load height node data" errors display. I guess that we cannot test the 3D part of your library on the demo website due to this.

But most likely the issue is due to an error in authentication wit

[2021-06-14 23:34] wallabyway opened #17 "demo link broken"
Currently live demo says...

"You can test the live demo of the library running from the GitHub page"
and points to https://tentone.github.io/geo-three/examples/index.html

It should point to:  https://tentone.github.io/geo-three/

[2021-06-15 07:29] JannikGM commented on #17
Yes, but even if fixed, it's affected by https://github.com/tentone/geo-three/issues/16#issuecomment-860561933
While these 2 issues need to be fixed independently, they interact, because there's no benefit in linking a broken demo either (whether it's 404 or nonfunctional due to errors).

[2021-06-15 08:08] tentone commented on #16
The demo is not broken it is working correctly. These errors are caused by missing tiles for ocean regions and can be ignored.

![image](https://user-images.githubusercontent.com/9158354/122016739-382c4000-cdb9-11eb-8a62-46369fafb71a.png)

[2021-06-15 08:09] tentone commented on #17
@wallabyway  Thanks a lot, i will fix the link and point it to the right URL.

[2021-06-15 08:13] xawill commented on #16
Well, it doesn't work for me, over Switzerland, a very mountainous country in the Alps in Europe.

I am using Safari latest public version on macOS latest public version.

<img width="1656" alt="Capture d’écran 2021-06-15 à 10 11 39" src="https://user-images.githubusercontent.com/2658206/122017249-16838680-cdc2-11eb-84e4-0a88f18f80da.png">

[2021-06-15 08:19] xawill commented on #16
This is over Mont-Blanc (4809m):
<img width="1655" alt="Capture d’écran 2021-06-15 à 10 18 43" src="https://user-images.githubusercontent.com/2658206/122018393-1afc6f00-cdc3-11eb-9272-25ec82262e5f.png">

[2021-06-15 11:02] tentone commented on #16
Can you please provide a height "not shader" screenshot of these areas?

I have no way of testing with mac os, do you have any shader related error?

[2021-06-15 12:29] xawill commented on #16
No problem. I might be able to test on my side on Windows to try to narrow down what the issue is.

Here is the screenshot you requested: Mont-Blanc area again, with height "not shader". You can also see the output of the console, which is filled with hundred of such errors (one per tile, I would guess). I have no other error (no shader issue reported).

<img width="1674" alt="Capture d’écran 202

[2021-06-15 13:11] tentone commented on #16
Thanks a lot for this information this has to be fixed. The errors you're getting should not be related but i have to take a closer look maybe using a VM i can reproduce the error.

Thanks!

[2021-06-15 13:53] xawill commented on #16
Thanks a lot. I didn't have the chance to integrate your library in my project yet, but will in the following hours/days. I will then have more extensive access to the debugger and will let you know if I can better identify the issue.

I thought at first that the issue might be related to Safari not supporting webgl2, but I don't think you use it. And I had Safari webgl2 experimental feature enabl

[2021-06-16 16:46] xawill opened #18 "Types not published on npm ?"
While trying to add the library to my app, I noticed that the npm package only contains javascript code and no typings. Is it intentional ? Do you plan to publish the types as well ? We definitely both see the benefits of coding the library in typescript, but this is also useful to use it in typescript.

Thanks a lot!

[2021-06-19 21:44] xawill commented on #18
Based on [this](https://www.typescriptlang.org/docs/handbook/declaration-files/publishing.html#including-declarations-in-your-npm-package), it looks like the only think you have to do is to set `declaration` to `true` here:

https://github.com/tentone/geo-three/blob/b6aebacee7bee3249821caf0eac7f14a355d383b/tsconfig.json#L11

Thanks again for the library !

[2021-06-24 13:34] tentone commented on #18
Hello

Thanks a lot for reporting this issue.

I have enabled the type declarations that will be published to npm on next release today.

Cheers

[2021-06-24 13:35] #17 closed

[2021-06-24 17:41] wallabyway commented on #17
Thank you for such an impressive library !

I back-ported it to an old Three.js R71 library

[2021-06-28 16:39] JannikGM commented on #16
I also have this issue on macOS running Firefox 89.0 (64-bit); so this isn't exclusive to Safari.

[2021-07-09 19:35] xawill commented on #16
I didn't investigate at all, but I saw you use `OffscreenCanvas` a lot. This is still considered an experimental feature, is not supported by Safari and only partially by Firefox : https://developer.mozilla.org/fr/docs/Web/API/OffscreenCanvas.

[2021-07-12 08:05] tentone commented on #16
@xawill That could be the reason for the height data to be missing.

I will patch the lib to use regular canvas object whenever  OffscreenCanvas is not available.

[2021-08-18 10:42] christjt commented on #18
This issue is fixed and can be closed once a new released is published.

[2021-08-28 11:40] tentone commented on #18
Hello

Types are now published into NPM.

Thanks a lot!

Cheers

[2021-08-28 11:40] #18 closed

[2021-08-30 08:10] pramodcog opened #20 "geo-three.min.js is not generated/exists"
https://github.com/tentone/geo-three/blob/5d8823ca7af85df37d1ae21e8b7a564d720253e9/package.json#L5

In build folder we only have geo-three.js, geo-three.js.map, geo-three.module.js & geo-three.module.js.map. Due to this geo-three package will not be accessible when imported in Typescripts

[2021-09-02 07:14] #20 closed

[2021-09-02 17:50] tentone commented on #16
Removed the need for OffscreenCanvas in new version. Should be working correctly in safari now!

Thanks a lot!

[2021-09-02 17:50] #16 closed

[2021-09-09 12:13] CrazyBoyLanZao opened #22 "How about to set map center"
Hello, developer. First of all, thank you for developing such a user-friendly plugin. However, I have met some problems in specific use, and I hope you can answer them. I want to set the center position of the map, but I don't know how to operate it. When I read the development document, I found that the description in this part is not clear. I hope you can tell me how to set it.

[2021-09-10 08:05] tentone commented on #22
Hello

You should be able tochange the center of the map by moving the MapView object around.

[code]

[2021-09-13 07:07] CrazyBoyLanZao commented on #22
I'm sorry ,maybe I didn't make it clear what I was trying to say. my idea is that I think this is some latitude,for example latitude 132, 30 longitude is the center of the map, but I didn't find that function.

[2021-09-16 01:46] CrazyBoyLanZao commented on #22
Hello
  The default display of global map, but I just want to see the map of the Pacific Ocean, what should I do, looking forward to your reply。Thank you。

[2021-09-17 09:42] pramodcog opened #23 "OpenStreetMap unable to load images"
Openstreetmap option does not work/load tiled images as there is a mismatch in the URL request from the library https://github.com/tentone/geo-three/blob/91add61ac7d8569b9cf2f93e94c3e534e3366832/source/providers/OpenStreetMapsProvider.ts#L45

An addition `'/'` is added in the statement after `this.address` which is causing an error

[2021-09-17 10:15] #23 closed

[2021-10-09 02:14] Enoooch opened #25 "Is it possible to make 3d video tiles"
There is a example
https://www.bilibili.com/video/BV1d5411V7Ap/

It is made by Cesium.js

[2021-12-10 03:38] ytl1446109935 opened #26 "Height Shader"
![image](https://user-images.githubusercontent.com/44830375/145513098-dd9fc5ab-c4ab-4980-8b19-94bff9a8b5a4.png)
when I open Height Shader,a hole appeared.

[2021-12-10 23:58] tentone commented on #26
Hello

Thanks a lot for reporting this situation.

This might be caused by the API dropping out some of the requests due to timeout, connection issues, etc

A solution for this problem could be a mechanism to re-request these failed tiles.

Thanks a lot!

[2021-12-12 04:07] ytl1446109935 commented on #26
Thank you for your reply

[2022-01-24 03:13] moshuying opened #28 "awesome！"
I like this !!!

We can add some functions and examples, such as [camera control](https://github.com/yomotsu/camera-controls)，and [post effect](https://github.com/vanruesc/postprocessing)，I think [you can see here](https://www.harp.gl/docs/master/examples/), it is based on three. Js to do, but their goal is too far, custom post-processing is too complex, and the camera control is also very limited

[2022-03-09 10:35] edward17829991 opened #30 "Is there any way of making the map plane semi-transparent?"
Hi, first of all, Great Project here! Thank you guys!
This is easy to use and easily extendable.

One questions though, I want to make the map plane transparent.
So I've thought of modifying the Three Materials with { transparent: true, opacity: 0.5 }.
https://github.com/tentone/geo-three/blob/9a688ee5c05559535dfde6e026cddf6911235890/build/geo-three.module.js#L294
But it ended up with severe flick

[2022-03-10 02:51] edward17829991 commented on #30
Thanks for your fast reply!
One observation here, If I make the map plane DoubleSided, the back side of the map plane doesn't flicking, even when transparent!
But then the road name on the map would be flipped, so not really that useful.
Thanks for your effort of looking into it. Hope there is good news soon!

Best,
Edward Chen

[2022-03-14 10:03] edward17829991 commented on #30
Hi @tentone,

I've encountered some problem which maybe related to the original issue.
The problem is about when a transparent object is between the map plane and the camera, the rendered image (of the transparent object) is flickering (and fragmented) at some angle and distance. I'm not sure about what the cause is.
Here I've made an small test project about the problem.
[code]

(Preview screen r

[2022-03-19 18:42] markbaumgarten opened #31 "Openstreetmap: You requested an invalid tile."
First of all: Thanks for a great project!

Second:

Please see screenshot below. Occasionally my custom handler wants to load tiles that are invalid.

I think this might be the reason for the white region seen. Can anyone point me in the right direction for a fix?

![avoiding_white_tiles](https://user-images.githubusercontent.com/2726762/159134100-c9a693a7-aae3-4c7c-ac9a-5ba7966eaf62.png)

This is

[2022-03-21 09:01] JannikGM commented on #31
According to https://stackoverflow.com/a/34003577 that server only provides until zoom level 19.

You can also see this when looking at URLs:

- https://tile.openstreetmap.org/18/0/0.png works
- https://tile.openstreetmap.org/19/0/0.png works
- https://tile.openstreetmap.org/20/0/0.png missing
- https://tile.openstreetmap.org/21/0/0.png missing

[2022-03-21 09:36] markbaumgarten commented on #22
My guess is that your question might be: "How do make my scene rotate around a coordinate?" ...???

I am using geothree + openstreetmap and I'm moving my camera target to the coordinate instead of moving around the map.

In order to convert a WGS84 coordinate to a camera target vector that works in geothree you do this:

let longitude = 11.234;
let latitude = 55.1234
let coords = GEOTHREE.UnitsUti

[2022-03-21 09:44] markbaumgarten commented on #31
Hi Jannik - thanks for your reply.

This explains the invalid requests. I have now changed my mapprovider settings:

[code]

...and it no longer calls the invalid urls on the map server....however I still get the white squares on my map :-( - does anyone know what I can do to fix that?

[2022-03-21 11:29] markbaumgarten commented on #31
Here is an example video of the problem:

https://user-images.githubusercontent.com/2726762/159252064-15cbc230-8404-441e-bada-0a49d2cfcd60.mp4

[2022-03-21 13:39] tentone commented on #31
Hello

Thanks a lot, indeed the problem is related with the zoom levels provided by the openstreetmaps API.

The provider object can be changed to adress this issue by setting the default max level to 19.

The white tiles seem to be related either with a texture upload problem or API response missing. Do you have any warning on the console for these?

Thanks a lot

[2022-03-21 16:02] markbaumgarten commented on #31
No warnings in the console other than these from the initial load of the page - but I believe these are irrelevant:

[code]
No additional console output at all when the white tiles appear during my speedy zoom-in/zoom-out.

[2022-03-21 17:36] markbaumgarten commented on #31
I have decided to change the title of the issue, since this issue is present regardless of the mapprovider and the zoom levels.

Since I am at a loss trying to figure out why, here's another screenshot using the default bing maps.

Hoping to see a fix (event though I think the current state of this project is awesome).

![white_with_bing](https://user-images.githubusercontent.com/2726762/159331037

[2022-03-29 07:27] ligaofeng0901 commented on #31
same problem, and there is no error in  network requests

[2022-03-30 19:08] tentone commented on #31
So after some diging i think that i have a solution for this issue.

This is related with texture loading, aparently we have a race condition in the texture usage before load.

I will publish a new package soon on npm so that you can check if it fixes the issue on you side as well.

Thanks a lot!

[2022-04-03 11:41] tentone commented on #31
A new version has been published on npm. (0.0.17)

Please test with the new version to check if the bug war fixed!

Thanks a lot once again!

[2022-04-04 07:54] markbaumgarten commented on #31
Nice to see that you are looking into things. It is very much appreciated!

I have replaced the build with the latest version and it seems to still be an issue. Also visible in the live demo version...:

![white_tiles](https://user-images.githubusercontent.com/2726762/161498935-e7acb59d-e7a0-4944-958b-15b1a0827dd3.png)

[2022-04-19 15:19] PerspectivesLab opened #32 "google maps"
Hi there, is the google maps provider listed in the example ( satellite + elevation ) ?
how can we use it ?
thank you

[2022-04-19 15:21] tentone commented on #32
Hello

For google maps you will need access to tiles in the google maps API  wich requires a special type of developer key.

https://developers.google.com/maps/documentation/tile/overview#tile_requests

Cheers

[2022-04-19 15:28] PerspectivesLab commented on #32
okay i will try that ! thx

[2022-04-19 15:28] #32 closed

[2022-05-05 10:06] fzw2408 opened #35 "when the layer >15 terrian render fbs will be too low"
hi tentone ：
      here is a great project ：https://github.com/felixpalmer/procedural-gl-js ，the same GPU render terrian  his most smooth。but it cant add three object where you like、
       some suggestions：
        1 geo-three cluld add a tiledate buffer 。
        2 compatible the nasa.xyz's height image
        3.reduce the tiledate request
     geo-three will be more greate project 。

[2022-05-06 06:09] fzw2408 commented on #35
hi tentone ：
        here is my suggestions: it  clude Improve GPU operation speed and make GPU render terrian  his most smooth。
         float _height = ((_theight.r * 255.0 * 65536.0 + _theight.g * 255.0 * 256.0 + _theight.b * 255.0) * 0.1) - 10000.0;
        NASA.xyz
	 **float _height = (_theight.r * 256 + _theight.g ) - 32768.0;**
       个人观点：
        procedural-gl    世界观和格局 太小，想加点three obj 十分

[2022-05-06 06:28] #35 closed

[2022-05-07 17:05] tentone commented on #35
Hello

Thanks a lot for the suggestions.

I will take a look in these.

Cheers

[2022-05-14 11:58] fzw2408 opened #36 "如何通过鼠标简单快速获取 EPSG:900913[xyz]"
hi tentone ：
       cause  i need add three obj  by mouse ,i need get the xyz Coordinates. on map .on planar mode : i add a plan for moue get the Coordinates of map . then we cloude get  W84 Coordinates quick buy mouse .like espg.io do . that we clould add obj where you like.i it's a  simple think .but make a greate change.  **But there is one small regret ： on terrain mode we cloud not get the he

[2022-05-16 14:04] tentone commented on #36
Hello

By using on the CPU generated height tiles method and raycasting you can obtain the exact coordinates of the surface that you are  interacting with.

Check here for example on how to use the raycaster tool in three.js https://threejs.org/docs/#api/en/core/Raycaster

Thank a lot

Cheers

[2022-05-19 00:26] fzw2408 commented on #36
thank's very much tentone .
The effect is much better！！！

[2022-05-19 16:14] svbaelen opened #37 "(Mapbox) Vector Tile support"
Hi!

Cool project! I was wondering if you are planning to integrate support for vector tiles, such as MVT?
For example, similar to the OpenLayers MVT format: https://github.com/openlayers/openlayers/blob/main/src/ol/format/MVT.js

[2022-05-23 10:03] fzw2408 opened #38 "How to obtain elevation data through longitude and latitude coordinates"
hi tentone：
    base scene： we wan't to make same mark on map by longitude and latitude 。some time longitude and latitude  location is on the mountain 。datumsToSpherical just return plane coordinates [x,y]. and then the make sprite will be Obscured by the terrain mesh。

  In my way： longitude and latitude =>  ESP900913[x,y,z]  (y ===0 )[plane x y coordinates] =>tile[x+offset,y+offset, >14level ] =

[2022-06-20 13:00] mysterybear opened #39 "Types not working again?"
Hi

I see there was #18 and #19

I've just done like

[code]

And then try to `import * as foo from "geo-three"` and I'm getting:

[code]

This is with 0.1.0

[2022-07-01 13:09] tentone commented on #38
Hello

Sorry for the late response. The method you are using seems correct it only seems to miss on the height extraction from the tile image texture.

To calculate the height from a pixel value you have to use the following formula

`elevation = -10000 + (({R} * 256 * 256 + {G} * 256 + {B}) * 0.1)`

Maybe we could add a util to library with this technique.

Thanks a lot!

[2022-07-01 13:11] tentone commented on #37
Hello

This file format could be implemented Ideally we could render these directly in shader code which would take some time to implement but could be done.

But it can also be easily added by rasterizing the tiles dinamically into a canvas for example.

Thanks a lot!

[2022-07-01 13:13] tentone commented on #39
Hello

I will have to recheck this topic i have been using the library  with typescript without any issue.

![image](https://user-images.githubusercontent.com/9158354/176901501-3dc2a791-ddc8-4b8d-84ce-5942a3ccec9a.png)

Can you please provide your transpiler settings?

[2022-08-08 09:43] svbaelen commented on #37
Sounds good! Implementing this in the shader code might be more suited for potential layering? For example, say you want to add a base layer with OSM tiles, and an optional (toggle-able) layers with vector tile, especially for "smaller" features. I wonder whether in case of dynamic rasterization, this might introduce unnecessary overhead, especially for multiple layers?

[2022-09-08 13:26] anhle1476 commented on #39
@tentone thank you. It works for me 😁

[2022-09-08 17:57] #39 closed

[2022-09-08 17:57] tentone commented on #39
Great! Thanks a lot!

[2022-10-15 16:53] MeRahulAhire opened #40 "How to use this library?"
By reading the readme I'm not getting on how to actually use this library to turn map tiles into a material for my sphere buffer geometry.

I'm not getting on how to initialise the lib and then use it for myself. Can you please let me know any examples that'll give me clear understanding about it?

[2022-10-28 13:06] gewesp opened #41 "Overlapping tiles with indeterminate occlusion"
Using a planar map and the debug provider, I get this in my scene:

![SCR-20221028-kmf](https://user-images.githubusercontent.com/7306215/198595525-d6cce197-1756-4eef-8797-1ec1816f2acc.png)

Initially, the tiles appear to be loading and change, but after later the situation stabilizes to what's shown in the screenshot.

Expected:
The level 16 tile is replaced by 4 tiles @ level 17, or none.

[2022-10-28 14:27] gewesp commented on #41
Possible multiple rendering problem on my side, closing.

[2022-10-28 14:27] #41 closed

[2022-11-04 11:38] laraduarte opened #42 "3d tileset"
Hi,

This is a question and not a bug.
I'm currently loading a 3dtiles model and a Bing layer.

The model is a region model with the coordinates below
// [west, south, east, north, minimum height, maximum height]
-0.00010867585747044324
0.8990759032023482
0.00003249817050595483
0.8991635359312518
15.237850105389953
121.4680495094508

I want to place the model correctly on the bing Layer. In the id

[2022-11-04 13:51] #42 closed

[2022-11-07 11:06] laraduarte commented on #31
same problem on my end. Any updates on this?

[2022-11-07 19:31] markbaumgarten commented on #31
I have found that spinning up my own openstreetmap server helps (did not
see any white tiles yet).....

On Mon, Nov 7, 2022, 12:06 laraduarte ***@***.***> wrote:

[2022-11-08 08:42] laraduarte commented on #31
@markbaumgarten on that case the issue could be the amount of requests we're going. Most servers/services limit the amount of requests we can do per second. I will investigate this a little bit more. Maybe adjusting the zoom speed will make the issue go away. Let's see :)

[2022-11-09 11:31] laraduarte commented on #16
Hi @tentone it's not working on my ipad, maybe we need to reopen this!
thank you

[2022-11-09 14:19] tentone commented on #16
Hello @laraduarte please open a new issue regarding this problem.

Include the version of the browser and OS that youre running and any content from the console please.

Thanks a lot!

[2022-11-09 14:20] tentone commented on #40
Hello @MeRahulAhire

To use the library you first must create a three.js scene and rendering setup.

Then you import the objects from this library into the three.js scene.

You will need a data provider for tile data. The lib already supports a couple of services out of the box.

Thanks a lot!

[2022-11-09 14:22] laraduarte commented on #16
Hello @tentone

System: Ipad, iOS 15.6
Browser: Google Chrome
No errors in the console.

Thank you!

[2022-11-09 14:27] laraduarte opened #43 "Bing layer not loading on Ipad"
System: Ipad, iOS 15.6
Browser: Google Chrome
No errors in the console.
https://tentone.github.io/geo-three/index.html

Thank you!

[2022-11-09 16:19] MeRahulAhire commented on #40
Do you have a specific example on how to use this library as a texture to `sphereBufferGeometry`?  I also tried [this approach](https://codepen.io/gpanag/pen/JjKLZJj?editors=1010) but it's making a hole at both the poles.

I don't want to import the object from this library as I have blender animation that I want to import it natively in it as I assume that'll be much easy. Any suggestion on how s

[2022-11-09 16:39] tentone commented on #40
You cannot use this library to dinamically generate texto for your sphere buffer,

I can use the sphere object from this library to map the tiles into a sphere surface.

[2022-11-09 16:49] laraduarte commented on #43
@tentone any layer!

I can only see a 3dtiles model that I have on the scene too!
No errors nothing :D

thanks

[2022-11-09 17:04] MeRahulAhire commented on #40
I guess then this lib wont be fit for what I'm trying to do but can you please let me know that how can I cover [this hole](https://codepen.io/gpanag/pen/JjKLZJj?editors=1010) at the poles?

Thanks

[2022-11-10 08:08] laraduarte commented on #43
@tentone this small change seems to fix it!

![image](https://user-images.githubusercontent.com/1926934/201034542-e1f6894c-3dc7-41d6-92f3-94594dc789fb.png)

I would like to request small changes if that's ok
1) only fetch tile if any of these values is defined  if (zoom || x || y) (raster provider) to avoid the error below
![image](https://user-images.githubusercontent.com/1926934/201034969-5b5d6f

[2022-11-10 15:12] laraduarte commented on #31
So I did an extreme test :D a debug layer on top of Bing layer and it confirmed my suspicion, the bing layer is not requesting the white tiles. I should have log 'loadTexture 13 4095 4093' twice on the console but only the OffscreenCanvas (debug layer) is there!

Any ideas @tentone?

Thanks a lot!

![image](https://user-images.githubusercontent.com/1926934/201132256-a4da4f32-6369-4e3b-85aa-780af32

[2022-11-10 16:06] laraduarte commented on #31
new discovery @tentone, powerDistance instead of scaleDistance fixes the issue! The new issue is the size of the texts on the map :D, they are a little bit smaller now! What can I do to have the text a little bit bigger?

![image](https://user-images.githubusercontent.com/1926934/201145433-955e1992-a933-4b60-9752-9373e4c2f0da.png)
![image](https://user-images.githubusercontent.com/1926934/20114606

[2022-11-10 21:57] tentone commented on #43
Wow! Thanks a lot! Do you want to open a PR for this fix or should i update it in the lib?

Thanks a lot!

[2022-11-10 22:11] tentone commented on #31
I can confirm i have done some testing before and this problem is not related with the tile requests they seem to be working correctly.

I believe the problem is related to texture upload. But still need to perform additional testing to be sure.

[2022-11-11 09:41] laraduarte commented on #43
@tentone please update and release a new version as soon as you can :)
thanks!

[2022-11-16 08:12] ns-pyadav opened #44 "Usage with Normal JS Project"
How do I integrate geo-three with a normal JS Project without NPM

[2022-11-16 12:55] laraduarte opened #45 "LOD issue"
Hello,

Can the LOD be adjusted to render all the tiles in the viewport?
The tiles rendered every time the camera updates seem to be only the 4 in the center.

Thanks

![image](https://user-images.githubusercontent.com/1926934/202185145-7976aec4-07e9-4d91-b145-8cd76ad37720.png)
![image](https://user-images.githubusercontent.com/1926934/202185247-71f7428a-bdce-4e00-bd1f-caabecff29d1.png)

[2022-11-16 14:05] tentone commented on #45
Yes you can change the parameters in the LOD Control object.

For LODFrustum and LOLDRadial increase the value of "subdivideDistance" to have more detail in the tiles.

[2022-11-16 14:17] laraduarte commented on #45
by doing do I get this issue, top and bottom of the screen not on the same level :S (LODRadial, this.subdivideDistance = 100; this.simplifyDistance = 300;)

![image](https://user-images.githubusercontent.com/1926934/202204246-09c27ee7-8637-448b-81c0-f6b9bf8bdf00.png)

[2022-11-16 14:56] tentone commented on #45
You can use the LODRadial or LODRaycast for this scenario instead.

Would be more suitable than LODFrustum

[2022-11-16 15:30] laraduarte commented on #45
the screenshot is actually LODRadial
(LODRadial, this.subdivideDistance = 100; this.simplifyDistance = 300;)

[2022-11-16 19:18] laraduarte commented on #45
also, the height_shader is no longer working.

![image](https://user-images.githubusercontent.com/1926934/202273613-6cfdc991-382b-4e4b-a901-9fa06c8add94.png)

[2022-11-17 10:24] tentone commented on #45
@laraduarte  I have confirmed that the height shader is broken.

Please opena new issue for this. I will take a look into it.

[2022-11-17 10:29] ns-pyadav commented on #44
Hi tentone, Thanks for the help !

[2022-11-17 10:29] #44 closed

[2022-11-17 13:54] laraduarte opened #46 "height shader"
height shader is no longer working and the DistanceLOD does not seem to be working either.
thanks

![202273613-6cfdc991-382b-4e4b-a901-9fa06c8add94](https://user-images.githubusercontent.com/1926934/202464323-948e643b-008c-4658-a1a8-4b0a455abd24.png)

[2022-11-17 17:28] ji-soft opened #47 "wrong tile coordinates using react-fibre and fibre/drei"
hi, im trying to set this package up with react and fiber, but the tiles that are fetched have wrong coordinates (totally of grid like: "https://a.tile.openstreetmap.org/14/8193/8189.png". i really dont know what im doing wrong here.
maybe the wrong tiles are getting loaded due to zoomlevel or something, because  the firt tiles that are fetched are actually valid, but i guess the get overwritten.

[2022-11-17 18:22] ji-soft commented on #47
ok im quite sure that the problem comes from the scaling of the plane.... where is it set?

[2022-11-17 19:12] ji-soft commented on #47
ok i solved this by setting the scale of the plane with map.scale.set method. would be awesome if you would add this to the manual.

[2022-11-17 19:35] tentone commented on #47
Hello

By default the system uses world scale coordinates in meters.

Might be a bit confusing for low scale scenes. Glad that you were able to figure it out.

Might improve later on documentation.

[2022-11-17 19:37] ji-soft opened #48 "get all tiles that are in viewspace"
i need to get all tiles that are in viewspace.  Where can i safe them to an array, if there not already safed somewhere?
thanks in advance:
leo

[2022-11-17 19:41] tentone commented on #48
You can get all the visible tiles by traversing the map object.

Check the method https://threejs.org/docs/#api/en/core/Object3D.traverse

All visible children objects will be the visible tiles. Something like this:

[code]

[2022-11-17 19:44] tentone commented on #46
Thanks a lot for reporting this issue.

Has been fixed in the last version (just published)

![derp](https://user-images.githubusercontent.com/9158354/202543875-e4d10680-5cca-461b-b9d1-b57f307aad38.png)

[2022-11-17 20:20] laraduarte commented on #46
Thank you!!!

Some tiles randomly flicker and the same issue might be happening on the height view.

![image](https://user-images.githubusercontent.com/1926934/202550520-f0ad336f-6954-4e05-ab07-571cb6b2d451.png)

[2022-11-17 20:38] laraduarte commented on #45
About the lod issue described above any suggestions?!
I sti think the lod system has some issues and is also the reason why some tiles are white and not loading

[2022-11-26 02:51] ji-soft opened #49 "2 questions: "confusion about EPSG:900913" and "performance of Equirectangular projection""
***Equirectangular projection***
wouldnt it be better for planar projection/map  to use Equirectangular coordinates: [(https://en.wikipedia.org/wiki/Equirectangular_projection)]? is need to to convert and remap/interpolate spherical coordinates.
this could even spare unnesscesary computation in spherical mode with a increased zoom/low fov.
 by switching to non-spherical coordinates  i dont need to

[2022-11-26 07:28] ji-soft commented on #49
since epsg:4326 cuts the map at +-85° latitude, im kinda confused about the projected coordinates

[2022-11-27 23:24] ji-soft commented on #49
ok i get it now, the epsg guys refused to give it a valid epsg number:
[Unfortunately, however, EPSG were rather dismissive of the system used by Microsoft and Google (more details in a bit) and refused to assign it an official EPSG code. An EPSG statement (as reported by [Morten Nielsen](http://www.sharpgis.net/post/2008/05/SphericalWeb-Mercator-EPSG-code-3785.aspx) ) read:
------>***“We have rev

[2022-11-27 23:31] ji-soft commented on #49
allrighty i finaly found the awnser to my question:
"[ I think the confusion comes from that they actually use two spatial reference systems at the same time:
    Geographic  Longitude/Latitude coordinatesystem based on the standard WGS84 datum.
    Mercator projection using a datum based on WGS84, BUT modified to be spheric.
[...] If you want to create image overlays, or roll your own tile server

[2022-11-30 00:24] ji-soft commented on #49
so is it  possible to use Equirectangular projection for planes?